.navbar{
    background-color: #000000;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    list-style-type: none;
    gap: 10px;
}
.navbar a{
    text-decoration: none;
    color: #ffffff;
}